:root {
	--cl-text: #2F3645;
	--cl-keyword: #939185;
	--cl-property: #E6B9A6;
	--cl-background: #EEEDEB;
}

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	color: var(--cl-text);
	background-color: var(--cl-background);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 8vw;
}

.switch {
 --button-width: 3em;
 --button-height: 1.5em;
 --toggle-diameter: 1em;
 --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
 --toggle-shadow-offset: 10px;
 --toggle-wider: 3em;
 --color-grey: var(--cl-keyword);
 --color-green: var(--cl-property);
}

.slider {
	cursor: pointer;
 display: inline-block;
 width: var(--button-width);
 height: var(--button-height);
 background-color: var(--color-grey);
 border-radius: calc(var(--button-height) / 2);
 position: relative;
 transition: 0.3s all ease-in-out;
}

.slider::after {
 content: "";
 display: inline-block;
 width: var(--toggle-diameter);
 height: var(--toggle-diameter);
 background-color: #fff;
 border-radius: calc(var(--toggle-diameter) / 2);
 position: absolute;
 top: var(--button-toggle-offset);
	left: 0;
 transform: translateX(var(--button-toggle-offset));
 box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
 transition: 0.3s all ease-in-out;
}

.switch input[type="checkbox"]:checked + .slider {
 background-color: var(--color-green);
}

.switch input[type="checkbox"]:checked + .slider::after {
 transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
 box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}

.switch input[type="checkbox"] {
 display: none;
}

.switch input[type="checkbox"]:active + .slider::after {
 width: var(--toggle-wider);
}

.switch input[type="checkbox"]:checked:active + .slider::after {
 transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
}


section#showcase {
	transform: scale(2);
}

code {
	display: flex;
	flex-direction: column;
	font-size: 24px;
}

code div.footer {
	display: flex;
	flex-direction: row;
	align-items: center;
}

code div.footer label.filename {
	margin-left: auto;
}

code.small {
	font-size: 16px;
}

code label {
	opacity: 0.4;
	font-size: 16;
	text-align: right;
}

code hr {
	margin: 8px 0;
}

div.indent {
	padding-left: 48px;
}

code span.comment {
	opacity: 0.3;
	font-weight: bold;
	display: block;
}

code span.property {
	color: var(--cl-property);
	font-weight: bold;
}

code span.property::after {
	content: ': ';
	color: #2F3645;
}

code span.rule {
	display: block;
}

code span.rule::after {
	content: ';';
}

code span.keyword {
	color: var(--cl-keyword);
	font-weight: bold;
}

a.navigation {
	padding: 4px;
	color: var(--cl-background);
	background-color: var(--cl-text);
	border-radius: 50%;
	opacity: 0.2;
	transition: all 300ms;
}

a.navigation:hover {
	opacity: 1;
	transform: scale(1.5);
}

a.navigation.next {
	position: absolute;
	bottom: 4vh;
	right: 4vw;
}

a.navigation.prev {
	position: absolute;
	bottom: 4vh;
	left: 4vw;
	transform: rotate(-180deg);
}

a.navigation.prev:hover {
	transform: scale(1.5) rotate(-180deg);
}

svg.icon {
	width: 24px;
	height: 24px;
}
